body,
html {
  padding: 0;
  margin: 0;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 120px 1fr;
}

#sidebar {
  border-right: 1px solid white;
  padding: 25px 0 0 10px;
  align-items: center;
}
#sidebar a {
  color: #fff;
  padding: 0 5px;
  display: block;
}

#page {
  padding-left: 10px;
}

.accountDisplay {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weekViewerDisplay {
  display: grid;
  max-width: 600px;
  width: 80%;
  grid-template-columns: 1fr 125px 125px;
}