body,
html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 120px 1fr;
}

#sidebar {
  border-right: 1px solid white;
  padding: 25px 0 0 10px;
  align-items: center;
}

#sidebar a {
  color: #fff;
  padding: 0 5px;
  display: block;
}

#page {
  height: 100%;
  padding-left: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.accountDisplay {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weekViewerDisplay {
  display: grid;
  max-width: 600px;
  width: 80%;
  grid-template-columns: 1fr 125px 125px;
}

.infoDisplay {
  display: flex;
  gap: 20px;
}

.attendeeDisplay {
  display: grid;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
}

.attendeeDisplay .signinButton {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

#allAttendees {
  display: flex;
  flex-wrap: wrap;
}
